@import "https://necolas.github.io/normalize.css/latest/normalize.css";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #f7efe5;
}

section.container {
  background-color: white;
  border-radius: 30px;
  width: 500px;
  height: 700px;
  box-shadow: 0px 10px 20px #00000052;
  border: 3px solid rgba(0, 0, 0, 0.494);
}

/* Botones superiores */

.botones_container {
  justify-content: space-evenly;
  margin: 20px 0;

  .boton {
    border: 2px solid black;
    min-width: 20px;
    height: 20px;
    padding: 3px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .css {
    color: lightskyblue;
  }
  .js {
    color: yellowgreen;
  }

  .html {
    color: orange;
  }

  .sass {
    color: darkorchid;
  }

  .bootstrap {
    color: purple;
  }
}

/* Portada */

section.portada {
  flex-direction: column;
  .portada-container {
    width: 100%;
  }

  img.imagen-portada {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .contenedor-conejo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.375);
    overflow: hidden;
    position: relative;
    top: -70px;
  }

  .conejo_1 {
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .conejo_2 {
    width: 100%;
    height: 100%;
    position: relative;
    top: -103%;
    opacity: 0%;
    z-index: 1;
    transition: opacity 0.3s ease;
  }
  .conejo_2:hover {
    opacity: 100%;
    transition: opacity 0.3s ease;
  }

  #pet {
    margin-top: -16px;
    margin-left: 17px;
    position: absolute;
  }
}

.contenedor {
  flex-direction: column;
  position: relative;
  top: -60px;
}

.lr {
  font-family: monospace;
  font-size: 25px;
  border-color: blue;
  font-weight: 800;
  position: relative;
  font-family: monospace;
  background: white;
  color: black;
  font-size: 2.5em;
}

.lr:hover span {
  position: absolute;
  right: 0;
  width: 0;
  background-color: white;
  border-left: 1px solid #000;
  animation: escribir 1s infinite alternate steps(10);
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.lugar {
  color: red;
  font-size: 14px;
}

.lugar:hover {
  text-decoration: red;
  text-decoration-line: underline;
  cursor: default;
}

.descript {
  width: 398px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid darkblue;
  border-radius: 70px;
  color: darkblue;
  height: 30px;
  width: 135px;
  font-family: "Oswald", sans-serif;
}

.follow:hover {
  cursor: pointer;
  color: blue;
  border: 2px solid blue;
}

.info {
  border-top: 2px solid gray;
  display: flex;
  justify-content: space-evenly;
}
